# HOST=localhost
#  USER= postgres
#  DATABASEPORT= 5432
#  PASSWORD= niky071
#  DATABASE= demopost
#  PORT=5000


# PORT=5000
# HOST=trolley.proxy.rlwy.net
# USER=postgres
# PASSWORD="SewCmKArgPwYrCRnrXeOfJEKMoZVICNY"
# DATABASE=railway
# DATABASEPORT=50084
# GOOGLE_CLIENT_ID=406517724442-375f1rt9dlfcd7f9039mkce928nie6n1.apps.googleusercontent.com